.asociados {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
  & img {
    border-radius: 50%;
    border: 2px grey dashed;
    display: block;
  }
  & span.tipo {
    display: block;
    font-size: 0.8em;
  }
}
