.ecca-home-entrecortes {
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;

  & img.ecca_entrecortes_img {
    min-width: 100%;
  }

  & span.fecha {
    color: $blue;
  }

  /* & article:first-child {
    margin: 0 4em;
    grid-column: 1 / 3;
  } */
}
